extends layouts/layout

block content
  header
    .header-left
      h1 EatMyRocks
    .header-right
      i.fas.fa-shopping-cart
      i.fas.fa-search
    .header-center
      h1 -rocks are delicious
  nav
    ul
      li
        a(href='#') Home
      li
        a(href='#') Products
      li
        a(href='#') Recipes
      li 
        a(href='payment') Pay with PayPal 
  main
    section
      h2 Featured Products
      .product-list
        each product in products
          .product
            h3= product.name
            p= product.description
            p | #{product.price}
      .view-all
        a(href='#') View All Products
    section
      h2 Featured Recipes
      .recipe-list
        each recipe in recipes
          .recipe
            h3= recipe.name
            p= recipe.description
            ul
              li ingredient
          p= recipe.instructions
      .view-all
        a(href='#') View All Recipes
  footer
    p Copyright © 2023 EatMyRocks
    ul
      li
        a(href='tc') Terms & Conditions
      li
        a(href='pp') Privacy Policy
      li
        a(href='cu') Contact Us
