extends layouts/layout

block content
  header
    .header-left
      h1 EatMyRocks
    .header-right
      i.fas.fa-shopping-cart
      i.fas.fa-search
    .header-center
  nav
    ul
      li
        a(href='#') Home
      li
        a(href='#') Products
      li
        a(href='#') Recipes
  main
    section
      h2 Featured Products
      .product-list
        each product in products
          .product
            img(src=product.image alt=product.title)
            h3= product.title
            p= product.description
            p Price: $#{product.price}
      .view-all
        a(href='#') View All Products
    section
      h2 Featured Recipes
      .recipe-list
        each recipe in recipes
          .recipe
            img(src=recipe.image alt=recipe.title)
            h3= recipe.title
            p= recipe.description
            ul
              li ingredient
          p= recipe.instructions
      .view-all
        a(href='#') View All Recipes
  